# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
.env
*.db
*.db-journal

# Build
dist/
build/
*.egg-info/
*.deb
*.msi
*.spec

# Coverage
.coverage
coverage.xml
htmlcov/

# IDE
.vscode/
.idea/
*.swp

# NyxCore runtime
isos/
nyxcore.db
